{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load currency_filters %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <link rel="shortcut icon" href="{% static "images/web_logo.ico" %}" />
    <link rel="stylesheet" href="{% static "css/public.css" %}" type="text/css">
    {% block public_css %}
    {% endblock %}
    {% block custom_css %}
        <link rel="stylesheet" href="{% static "css/product.css" %}" type="text/css">
    {% endblock %}
    {% block jquery %}
        <script type="text/javascript" src="{% static "js/jquery-1.11.1.min.js" %}"></script>
    {% endblock %}
    {% block custom_js %}
    {% endblock %}

    
    <title>{% block title %}蓝图百货{% endblock %}</title>
</head>
<body>
    {% block top %}
    <!--顶部 start-->
    <div class="top">
        {% block topmenu %}
        <!--顶层状态、登录条-->
        <div class="login">
            <div class="container fix">
                <div class="l login-left">
                    {% if user.is_authenticated %}
                    <span>{% trans "Welcome" %}&nbsp; <em>{{ user.username }}</em></span>
                    &nbsp;
                    <a href="{% url "accounts:logout" %}">注销</a>
                    {% else %}
                    <a href="{% url "accounts:login" %}">登录</a>
                    <a href="{% url "accounts:register" %}">注册</a>
                    {% endif %}
                </div>
                {% if user.is_authenticated %}
                <ul class="r login-right">
                    <li class="first-menu">
                        <a href="{% url 'customer:order_manage' %}">我的账户</a>
                    </li>
                </ul>
                {% else %}
                <ul class="r login-right">
                    <li>
                        <a href="{% url 'accounts:login' %}">我的账户</a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
        {% endblock %}
        {% block logo %}
        <!--logo、搜索、购物车-->
        <div class="logo container fix">
            <div class="logo-img1 l">
                <a href ="{% url 'promotions:home' %}"><img src="{% static "images/logo-1.png" %}"/></a>
            </div>
            <div class="search-box l">
                <form method="get" action="{% url 'catalogue:allproducts' %}" class="form-horizontal">
                {% csrf_token %} 
                <div class="input-t">
                {% if kwargs.search_q %}
                    <input type="text" name="q" value="{{kwargs.search_q}}" onfocus="OnfocusFun(this,'输入商品名、货号、商品关键字')" onblur="OnBlurFun(this,'输入商品名、货号、商品关键字')" style='color:#999;'/>
                {% else %}
                    <input type="text" name="q" value="输入商品名、货号、商品关键字" onfocus="OnfocusFun(this,'输入商品名、货号、商品关键字')" onblur="OnBlurFun(this,'输入商品名、货号、商品关键字')" style='color:#999;'/>
                {% endif %}  
                    <span class="search-img"></span>
                </div>
                <div class="input-s">
                    <input type="submit" value="搜索"/>
                </div>
                </form>
                <ul class="keywords l">
                     <li><a>红酒</a><span>|</span></li>
                    <li><a class="color-red">白酒</a><span class="color-h">|</span></li>
                    <li><a>啤酒</a><span class="color-h">|</span></li>
                    <li><a>洋酒</a><span class="color-h" style="display: none;">|</span></li>
                </ul>
            </div>
        </div>
        {% endblock %}
    </div>
    {% endblock %}
    <!--顶部 end-->
    
    <!--顶部搜索 -->
{% block searchfix %}
    <div class="searchFix" style="display: none;">
        <div class="container fix">
            <div class="fix-logo l"><img src="{%static 'images/logo3交易大厅.png' %}" /></div>
            <div class="search-box search-box2 l">
            <form method="get" action="{% url 'catalogue:allproducts' %}" >
            <div class="input-t">
                <input type="text" name="q" value="输入商品名、货号、商品关键字" onfocus="OnfocusFun(this,'输入商品名、货号、商品关键字')" onblur="OnBlurFun(this,'输入商品名、货号、商品关键字')" style='color:#999;'/>
                <span class="search-img"></span>
            </div>
            <div class="input-s">
                <input type="submit" value="搜索" />
            </div>
            </form>
            </div>
        </div>
    </div>
{% endblock %}

    {% block content %}
    {% endblock %}
    
    {% block to-top %}
	 <div class="fix-to-top">
        <div class="to-top" style="display: none;">
            <a><img src="{% static 'images/top.png'%}"/></a>
        </div>
        <div class="kefu" style="display: none;">
            <a><img src="{%static 'images/kefu.png'%}"/></a>
        </div>
    </div>
    {% endblock %}
  

    {% include "base_footbar.html" %}

    {% block footer_script %}
        <script type="text/javascript">
            //得到焦点触发事件
            function OnfocusFun(element,elementvalue)
            {
                if(element.value==elementvalue)
                {
                    element.value="";
                    element.style.color="#343434";
                }
            }
            //离开输入框触发事件
            function OnBlurFun(element,elementvalue)
            {
                if(element.value=="" || element.value.replace(/\s/g,"")=="")
                {
                    element.value=elementvalue;
                    element.style.color="#999";
                }
            }

            $(function(){
                $(".shop-list>ul>li").click(function(){
                $(".shop-list>ul>li>ul").hide();
                $("ul",this).slideDown(500);
                });
                
                //固定搜索栏
                $(window).scroll(function(){
                    var curHeight=$(document).scrollTop();
                    if(curHeight>=400){
                        $(".searchFix").slideDown();
                        $(".to-top").show();
                    }else{
                        $(".searchFix").slideUp();
                        $(".to-top").hide();
                    }
                });
                $(".to-top").click(function(){
                    $(window).scrollTop(0);
                });
            });

	        function menuFix() {
		        var sfEls = document.getElementById("lid");
		        for (var i=0; i<sfEls.length; i++) {
		        sfEls[i].onmouseover=function() {
		        this.className+=(this.className.length>0? " ": "") + "sfhover";
		        }
		        sfEls[i].onMouseDown=function() {
		        this.className+=(this.className.length>0? " ": "") + "sfhover";
		        }
		        sfEls[i].onMouseUp=function() {
		        this.className+=(this.className.length>0? " ": "") + "sfhover";
		        }
		        sfEls[i].onmouseout=function() {
		        this.className=this.className.replace(new RegExp("( ?|^)sfhover\\b"),"");
		        }
		        }
	        }
            window.onload=menuFix;
            window.onload = function(){
                $(".keywords").find("li").eq(-1).children("span").css("display","none");
                $(".footer-menu").find("li").eq(-1).children("span").css("display","none");
            };
        </script>
    {% endblock %}
</body>
</html>
